.buttoncontainer {
    margin-left: 22%;
    margin-top: 5%;
}

.wholething {
    margin-left: 7%;
    display: flex;

}

.image1, .image2, .image3 {
    margin-right: 6%;
}

.text {
    margin-left: 39.5%;
}

.button4 {
   margin-left: 43%;
}

body {
  background-color: #faf0ca;
}

#myImg {
  border-radius: 5px;
  border: 5px solid #f09a2a;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.buttons {
  background-color: #f09a2a; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.text {
  color: #0d3b66;
}

.buttons {
  background-color: white; 
  color: #0d3b66; 
  border: 2px solid #f09a2a;
}

.buttons:hover {
  background-color: #f09a2a;
  color: white;
}
