img {
  margin-top: 4%;
  display: block;
  margin: auto;
  width: 35%;
}

body {
  background-color: #faf0ca;
}

.horizontal {
  margin-top: 13%;
  width: 100%
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #f09a2a;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #0d3b66;
}

/* Caption text */
.text {
  color: #0d3b66;
  font-size: 30px;
  padding: 8px 9px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #0d3b66;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active{
  background-color: #0d3b66;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#myImg {
  border-radius: 5px;
  border: 5px solid #f09a2a;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 3%;
  box-shadow: 1px 5px 5px #c3bc9e9c;
}

#myImg:hover {opacity: 0.7;}
